*{
margin: 0;
padding: 0;
box-sizing: border-box;
-moz-box-sizing: border-box;

}

:root{
--min-color: #009688;
--color: #fff ;
--text-color: rgb(131, 131, 131);
}

body{
background-color: #f1f1f1;
color: #000;
position: relative;
}

body:hover{
    color: #000;
    background-color: #f1f1f1;
}
.container{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    position: relative;
}

.container .s1{
background-color: var(--color);
float: right;
width: calc(100% - 33.5%);
color: #000;
height: 100vh;
}

.container .s1 .i-se{
color: var(--min-color);
font-size: 40px;
padding: 20px;
}

.container .s1 .i-se .span1{
color: var(--text-color);
font-size: 30px;
}


.container .s1 .col{
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 15px;
    
}

.container .s1 .col h3{
    color: var(--text-color);
    margin-bottom: 10px;
}

.container .s1 .col i{
    color: var(--min-color);
    font-size: 20px;
    display: contents;
}

.container .s1 .col i .span2{
    background-color: var(--min-color);
    color: white;
    font-size: 20px;
    padding: 2px;
}

.container .s1 .col p{
    line-height: 1.5;
    color: #000;
    margin-top: 10px;
}



.container .s2{
background-color: var(--color);
float: left;
width: calc(100% - 67.9%);
height: calc(134px + 100vh);
color: #000;
}


.container .s2 .img img{
    background-size: cover;
width: 100%;
}

.container .s2 .list{
position: relative;
}

.container .s2 .list::after{
content: " ";
width: 100%;
height: 10px;
color: var(--text-color);

}

.container .s2 .list i{
    font-size: 20px;
    color: var(--min-color);
    display: block;
    padding-top: 10px;
    overflow: hidden;
}


.container .s2 .list i span{
    padding-left: 20px;
    font-size: 15px;
    color: var(--text-color);
}

/*
.container .s3{
    margin-top: 15px;
    background-color: var(--color);
    float: right;
    width: calc(100% - 33.5%);
    color: #000;
    margin-bottom: 20px;
}

.container .s3  .sss{
    color: var(--min-color);
    font-size: 30px;
    padding: 20px;
    }
    
    .container .s3 .sss .spanp{
    color: var(--text-color);
    font-size: 30px;
    }
    
    
    .container .s3 .coo{
        margin-top: 40px;
        margin-bottom: 20px;
        padding-left: 15px;
        
    }
    
    .container .s3 .coo h3{
        color: var(--text-color);
        margin-bottom: 10px;
    }
    
    .container .s3 .coo i{
        color: var(--min-color);
        font-size: 20px;
        display: contents;
    }
    
    .container .s3 .coo p{
        line-height: 1.5;
        color: #000;
        margin-top: 10px;
    }*/ 

